.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". login ."
        ". . .";
    height: 100%;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    grid-area: login;

    mat-form-field {
        width: 100%;
    }

    mat-card{
        // background-color: #910000 !important;
    }
}