/* not-found.component.css */

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: #333;
}

p {
    font-size: 1.5rem;
    color: #777;
    margin: 20px 0;
}

a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

/* You can add additional styles as needed for your specific design */